---
title: CS6410
---
### Pre-requisites
- Algorithms
- Open to other dept course's after instructors' consent
- Discrete Math (discrete structures, proof techniques, sets, relations etc.)

### Evaluations Scheme
- Assignment - 15%
- Midterm - 20%
- Final Exam - 20%
- Surprise Quizzes - 10%
- Class participation/attendance - 5%
- Project - 30%

### Course Textbook
- The Calculus of Computation by ~Aaron R Bradly ~