@use "./base.scss";
@use "./variables.scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
    font-family: "Atkinson NEXT";
    src: url("/static/fonts/AtkinsonHyperlegibleNext-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Atkinson Mono";
    src: url("/static/fonts/AtkinsonHyperlegibleMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}